{
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["scss"],
      "options": {
        "parser": "scss"
      }
    }
  ]
}
