*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 16px sans-serif;
    user-select: none;
    background: transparent;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.drag {
    -webkit-app-region: drag
}

.no-drag {
    -webkit-app-region: no-drag
}

.cursor-pointer {
    cursor: pointer;
}

.user-select-text {
    user-select: text;
}

/*主体*/
.content {
    color: var(--white);
    width: 100%;
    height: 100%;
    overflow: overlay;
    position: relative;
}

#app {
    background-color: var(--black);
}

#dialog {
    background-color: rgba(47, 47, 47, 0.85);
}

/*头部*/
.head {
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 9;
    -webkit-app-region: drag;
}

.head i {
    margin-left: 10px;
    font-size: 24px;
}

/*子页面*/
.subclass {
    padding: 36px 10px 10px;
    height: 100%;
    position: relative;
    z-index: 1;
}