.container {
  > .info {
    width: 100%;
    height: 100%;
    padding: 32px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .name {
      padding: 10px 0;
      font: bold 18px/18px normal;
    }
  }
}
