.info {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px 10px 10px;

  position: relative;
  width: 100%;
  height: 100%;

  > .text {
    word-break: break-all;
    font: normal 16px sans-serif;
  }

  > .test {
    position: absolute;
    right: 50px;
    bottom: 5px;
  }

  > .close {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}