<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>dialog</title>
    <link rel="stylesheet" href="css/main/main.css">
</head>
<body>
<div id="dialog" class="drag" :style="'--theme:'+themeColor">
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    <dialog-head v-if="IComponent" v-bind:IComponentName="IComponent.name" ref="dialog-head"></dialog-head>
</div>
<!-- //unpkg.com/vue/dist/vue.min.js -->
<script type="text/javascript" src="lib/vue.min.js"></script>
<script>
    const _ = require('./lib/util');
    _.dataJsonPort().then(e => _.init(Vue, 'dialog', e).then(lib => new Vue(lib)));
</script>
</body>
</html>
