<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/assembly.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="dialog" class="drag content" :style="'--theme:'+themeColor">
    <dialog-head v-if="head" ref="app-head"></dialog-head>
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
</div>
<!-- //unpkg.com/vue/dist/vue.min.js -->
<script type="text/javascript" src="lib/vue.min.js"></script>
<script>
    const _ = require('./lib/util');
    _.dataJsonPort().then(e => _.init(Vue, 'dialog', e).then(lib => new Vue(lib)));
</script>
</body>
</html>
