<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1452120_0rp3ikj47dln.css">
    <link rel="stylesheet" href="css/assembly.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sweetalert2.css">
</head>
<body>
<div id="dialog" class="no-drag content">
    <app-head v-if="head" ref="app-head"></app-head>
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
</div>
<script type="text/javascript" src="lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="lib/vue.min.js">
    require('./lib/util')(Vue,'#dialog').then(lib => console.log(lib));
</script>
</body>
</html>
