<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="css/main/main.css">
</head>
<body>
<div id="app" :style="'--theme:'+themeColor">
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    <app-head v-if="IComponent" v-bind:IComponentName="IComponent.name" ref="app-head"></app-head>
</div>
<!-- //unpkg.com/vue/dist/vue.min.js -->
<script type="text/javascript" src="lib/vue.min.js"></script>
<script>require('./lib/util').init(Vue,'app').then(lib => new Vue(lib));</script>
</body>
</html>
