<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/assembly.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="drag content" style="background: var(--black);padding: 2px;" onmouseleave="window.close()">
<div id="menu" style="width: 100%;height: 100%;" class="no-drag" :style="'--theme:'+themeColor">
    <app-head v-if="head" ref="app-head"></app-head>
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
</div>
</body>
<script>
</script>
<script type="text/javascript" src="lib/vue.min.js"></script>
<script>require('./lib/util').init(Vue, 'menu').then(lib => new Vue(lib));</script>
</html>