<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="lib/static/css/main/main.css">
</head>
<body>
<div id="app" :style="'--theme:'+themeColor">
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
</div>
<!-- //unpkg.com/vue/dist/vue.esm.browser.min.js -->
<script type="module">
    import Vue from './lib/vue.esm.browser.min.js';

    require('./lib/main').vue(Vue, 'app').then(lib => new Vue(lib));
</script>
</body>
</html>
